body{
    background-image: url(imagens/marvel.jpg);
}

.clock{
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translatex(-50%) translateY(-50%);
    color:chartreuse;
    font-size: 60px;
    font-family: monospace;
    letter-spacing: 7px;
}